@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
margin: 0;
padding: 0;
outline: none;	
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fafafa;
	font-family: Trebuchet MS, Helvetica;
}


header {
	width: 100%;
	padding: 10px 0.5% 0px 0.5%;
	background: transparent;
	float: left;
	position: fixed;
}

header #logo {
	color: #fff;
	cursor: pointer;
}

header #logo span {
	font-size: 1.7em;
	line-height: 45px;
	margin-left: 40px;
	font-family: 'Suez One', serif;
}

@media (min-width: 701px) {
	
#logo {
	float: left;
	width: 30%;
	font-size: 1.1em;
}

#about {
	float: left;
	width: 50%;
}
}

#about {
	text-align: center;
	font-size: 1em;
	line-height: 40px;
	margin-bottom: 10px;
}

#about > a{color: #fff}

#about > a:hover { 
color: #b0b0b0;
text-decoration: underline;
	
}
#about > a:not(:last-child) {
	margin-right: 7%;
	}
	
.fixed {
	z-index: 5000;
	background-color: #fff;
	border-bottom: 1px solid silver;
}
 
 header.fixed #logo {
	 color: #343434;
 }
 
 .fixed #about a {color: #343434}
 .fixed #about a:hover {color: #7c7c7c}
 
 #top {
	 width: 100%;
	 height: 1000px;
	 background-image: url(https://avatars.mds.yandex.net/get-pdb/2058458/60178f37-a668-4821-a7a3-da4113973970/orig);
	 background-blend-mode: multiply;
	 background-color: #999999;
	 background-size: cover;
	 text-align: center;
	 color: #fff;
	 font-size: 3em;
 
 }
 @media (min-width: 1001px) {
	 #top {
		 font-size: 3em;
	}
 }
 
 @media (max-width: 1000px) and (min-width: 651px) {
	 #top {
		 font-size: 2em;
	}
 }
 
  @media (max-width: 650px) {
	 #top {
		 font-size: 1.7em;
		 padding-top: 50%;
	}
 }
 
 @media (max-width: 700px) {
	
#logo {
	margin-top: 15px;
	width: 100%;
	font-size: 1.5em;
 }
}
 
 
 #top h2 {
	 padding-top: 20%;
 }
 
 #top h3 {
	 color: #ccc;
 }
 
 #main {
	 padding: 100px 20%;
	 width: 60%;
	 float: left;
	 background-color: #f6f6f6;
	 border-top: 2px solid silver;
	 color:  #484848;
	 font-size: 1.3em;
 }
 
 @media (min-width: 1401px) {
	 #main {
		 padding: 100px 20%;
		 width: 60%;
	 }
 }
 @media (max-width: 1400px) {
	 #main {
		 padding: 100px 10%;
		 width: 80%;
	 }
 }
 @media (max-width: 700px) {
	 #main div {
		 width: 98%!important;
	 }
 }
 
 #main div {
	 width: 48%;
	 margin-right: 2%;
	 float: left;
 }

#main h2 {font-size: 3em}
#main span {color: a0a0a0}